{% extends 'teacher_dash/base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'table.css' %}">
 <div class="content">
   <a href="{% url 'create_attendance' %}" class="btn btn-sm btn-primary">create attendance</a>
     <table class="table">
      <h2>attendance List</h2>
        <thead>
        <tr>
            <th>student name</th>
            <th>date</th>
            <th>class</th>
            <th>Action</th>
        </tr>
      </thead>
      <tbody>
        {% for att in attendance_records %}
          <tr>
            <td>{{att.student}}</td>
            <td>{{att.date}}</td>
            <td>{{att.is_present}}</td>
            <td>
                <a href="{% url 'update_attendance' att.id %}">update</a>
                <a href="{% url 'delete_attendance' att.id %}">delete</a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
     </table>
 </div>
{% endblock%}