{% extends 'teacher_dash/base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'table.css' %}">
<div class="content">
    <h2>Student List</h2>
    <a href="{% url 'create_student' %}" class="btn btn-sm btn-primary">Add student</a> 
    <table class="table">
        <thead>
            <tr>
                <th>Student Name</th>
                <th>Admission No</th>
                <th>Session</th>
                <th>Student Class</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for stud in students %}
            <tr>
                <td>{{ stud.student_name }}</td>
                <td>{{ stud.admission_no }}</td>
                <td>{{ stud.session }}</td>
                <td>{{ stud.student_class }}</td>
                <td>
                    <a href="{% url 'update_student' stud.id %}" class="btn btn-sm btn-primary">Update</a>
                    <a href="{% url 'delete_student' stud.id %}" class="btn btn-sm btn-danger">Delete</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
