<!-- registration/teacher_register.html -->
{% extends 'admin/base.html' %}

{% block title %}Teacher Registration{% endblock %}

{% block content %}
<style>
    /* Styles for h1 */
h1 {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
}

/* Styles for form */
form {
    max-width: 400px;
    margin: 0 auto;
}

/* Styles for form labels */
form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #555;
}

/* Styles for form inputs */
form input[type="text"],
form input[type="email"],
form input[type="password"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Styles for submit button */
form button[type="submit"] {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Styles for csrf_token */
form input[name="csrfmiddlewaretoken"] {
    display: none; /* Hide CSRF token input */
}

</style>
    <h1>ADMIN Registration Dashboard</h1>
    <form method="post">
        {% csrf_token %}
        {% csrf_token %}
        {% for form in form %}
        <br>
        {{ form.label }} :{{ form}}
        <br>
        {% endfor %}
        <button type="submit">Register</button>
    </form>
{% endblock %}
